* {

    margin : 0;
    /* padding : 0; */
}

body {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    background-image : url("https://img.freepik.com/free-photo/fresh-pasta-with-hearty-bolognese-parmesan-cheese-generated-by-ai_188544-9469.jpg");

    background-size : cover;
    background-position : center;
    background-repeat: no-repeat;
}

#create {
    margin-top: 4cm;
    position : relative;
    width : 100vw;
    height : 90vh;
    display : flex;
    justify-content : center;
    align-items : center;
    text-align : center;
    /* backdrop-filter: blur(20px); */
    
    /* filter: brightness(50%)  */
    margin-bottom: -28vh;
   
}

#content {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
}

#content h2 {
    color: white;
    font-size: 2.8rem;
    font-family: cursive;
}

#content h4 {
    color: white;
    font-size: 1.2rem;
    font-family: cursive;
    line-height: 50px;
}

#content a {
    color: white;
    font-size: 1rem;
    font-family: cursive;
    padding: 2px 10px 2px 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: red;
    text-decoration: none;
}

#content a:hover {
    background: green;
}

#header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
} 

#navbar {
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    margin-left: 27cm;
}

#navbar ul a {
    color: white;
    text-decoration: none;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li:hover,#mobile_menu ul li:hover{
    background: rgb(128, 128, 128,0.1);
    cursor: pointer;
}

#mobile_menu{
    display:none;
    height: 40px;
    line-height: 40px;
    background-color: black;
}

#mobile_menu ul {
     display: flex;
     justify-content: center;
}

#mobile_menu ul li {
    list-style: none;
    padding: 0 5px 0 5px;
}

#mobile_menu ul li a {
    text-decoration: none;
    color: white;
}

@media(max-width : 768px){
    #mobile_menu{
        display: block;
    }
    #navbar ul{
        display: none;
    }
    html{
        font-size: 95%;
    }
}

@media(max-width : 360px){
    html{
        font-size: 70%;
    }
}


#about {
    padding: 25px 0 25px 0;
    background-color: black;
}

#section {
    text-align: center;
    color: white;
}

#about_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}

.about_col {
    flex: 1;
}

.about_col h1 {
    text-align: center;
    font-family: cursive;
    color: white;
    line-height: 100px;
}

.about_col P {
    /* font-weight: bold; */
    font-family: cursive;
    color: white;
}






